---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "normalize";

root {
  font-size: 18px;
}

body {
  padding-top: 40px;
  background: #edecdf;
  color: #404040;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px;
}

.homepage-main {
  text-align: center;
}

.creative-friends-mark {
  margin: 20px 0 100px;
  box-sizing: border-box;
  padding: 0 100px;
  display: block;
  width: 100%;
  height: 180px;
  background: url('../img/creative_friends_logo.svg') no-repeat center;
  background-size: contain;
}

.wrapper--copy {
  max-width: 500px;
}

h1 {
  font-family: "futura-pt-condensed",helvetica,sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
}

p {
  line-height: 2rem;
  text-indent: 1.5rem;
  &.salutation {
    text-indent: 0;
  }
  margin: 0 0 1rem;
}
@media only screen and (min-width: 600px) {
  body {
    padding-top: 100px;
  }
  .creative-friends-mark {
    height: 180px;
  }
}
