---
layout: null
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="homepage-main">
      <div class="wrapper">
        <img src="/img/creative_friends_header.svg" alt="Creative Friends: The Podcast"/>
        <img class="creative-friends-mark" src="/img/creative_friends_logo.svg" alt="Creative Friends Logo" width="200"/>
      </div>
    </header>

    <main>
      <div class="wrapper">
        <div class="wrapper--copy">
          <h1>Two heads are better than one <br/>&amp; work is better with friends.</h1>
          <p class="salutation">Hello Future Listeners,<p>
          <p>Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
